<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Decrypted passwords</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid text-center">
        <div>
            <h1>List of decrypted passwords</h1>
        </div>
        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Login</th>
                        <th>Password</th>
                        <th>Website Address</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pass: ${passwords}">
                        <td th:text="${pass.login}">Login</td>
                        <td th:text="${pass.password}">Password</td>
                        <td th:text="${pass.webAddress}">Web address</td>
                        <td>
                            <form th:action="@{/sharePassword}" th:object="${sharedPassword}" method="post">
                                <input type="hidden" name="login" th:value="${pass.login}">
                                <input type="hidden" name="password" th:value="${pass.password}">
                                <input type="hidden" name="webAddress" th:value="${pass.webAddress}">
                                <button type="submit" class="btn btn-primary">Share</button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/updatePassword}" th:object="${updatedPassword}" method="post">
                                <input type="hidden" name="id" th:value="${pass.id}">
                                <input type="hidden" name="login" th:value="${pass.login}">
                                <input type="hidden" name="password" th:value="${pass.password}">
                                <input type="hidden" name="webAddress" th:value="${pass.webAddress}">
                                <button type="submit" class="btn btn-warning">Update</button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/deletePassword}" th:object="${deletedPassword}" method="post">
                                <input type="hidden" name="id" th:value="${pass.id}">
                                <input type="hidden" name="login" th:value="${pass.login}">
                                <input type="hidden" name="password" th:value="${pass.password}">
                                <input type="hidden" name="webAddress" th:value="${pass.webAddress}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <form th:action="@{/getAllUserPasswords}" method="get">
                <input type="submit" value="Encrypt passwords" />
            </form>
        </div>
        <div>
            <p>
                <a th:href="@{/back}">Back</a>
            </p>
        </div>
    </div>
</body>
</html>