<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add password to wallet</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container text-center">
  <div>
    <h1>Update Password</h1>
  </div>
  <form th:action="@{/updatingPassword}" method="post"
        style="max-width: 600px; margin: 0 auto;"
        th:object="${passwordToUpdate}"
  >
    <div class="m-3">

      <div class="form-group row">
        <div class="col-8">
          <input type="hidden" th:value="${passwordToUpdate.id}" th:field="*{id}">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-4">Login</label>
        <div class="col-8">
          <input type="text" class="form-control" th:value="${passwordToUpdate.login}" th:field="*{login}" required />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-4">Password</label>
        <div class="col-8">
          <input type="password" class="form-control" th:value="${passwordToUpdate.password}" th:field="*{password}" required />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-4">Web adress</label>
        <div class="col-8">
          <input type="text" class="form-control" th:value="${passwordToUpdate.webAddress}" th:field="*{webAddress}" required />
        </div>
      </div>

      <div>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>

    </div>
  </form>
</div>
</body>
</html>